.header {
  background: #2c3859;
  height: 3em;
}

.headerLogo {
  height: 90%;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
}

.headerTitle {
  color: white;
  position: absolute;
  margin-top: 1em;
  font-family: 'Avenir Next Cyr W00 Regular', Arial, sans-serif;
  cursor: pointer;
}
