@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700&display=swap');
@import './header.scss';
@import './card.scss';
@import './recipe.scss';

body {
  margin: 0;
}

.appLayout {
  width: 60%;
  margin: auto;
  margin-top: 5%;
}
