@import './mixins';

.recipeContainer {
  margin: auto;
  margin-left: 10%;
}

.recipeImage {
  padding-left: 10em;
  padding-right: 10em;
  width: 60%;
  height: 30%;
}

.recipeInfo {
  margin-top: 1em;
  padding-left: 10em;
  padding-right: 10em;
  width: 60%;
  height: 30%;
}

.recipeTitle {
  font-size: 1.5em;
  font-style: bold;
  @include m-font-family;
}

.recipeDescription {
  margin-top: 0.5em;
  text-align: justify;
  @include m-font-family;
}

.recipeChef {
  margin-top: 1em;
  @include m-font-family;
}

.backButton {
  background-color: #6793d7;
  border: none;
  height: 3em;
  border-radius: 2px;
}

.starClass {
  color: #313194;
  background-color: #7fd7ff;
  border-radius: 3px;
}

.ucClass {
  color: #313194;
  background-color: #bfffc0;
  border-radius: 3px;
  font-size: 0.9em;
}

.linkClass {
  padding: 0.1em;
  color: #313194;
  border: solid 1px #b5d0eb;
  background-color: #d9ddf3;
  border-radius: 3px;
  text-decoration: none;
}
